body {
    margin: 0;
    background-color: #0f0f0f;
    width: 100%;
    height: 100%;
    --color: rgba(44, 44, 44, 0.3);
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;

    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
.para{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.info {
    padding: 60px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    gap: 20px;
}

.pp {
    width: 130px;
    border-radius: 100%;
}

.pseudo {
    font-size: 25px;
    font-weight: bold;
}

/* ******************************************** */
.boutton {
    display: flex;
    justify-content: space-evenly;
}

button {
    position: relative;
    padding: 25px 45px;
    background: #95f5fe;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 1px solid #95f5fe;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
}

button:hover {
    border: 1px solid #95f5fe;
    background: linear-gradient(85deg, #57f1ff, #95f5fe, #95f5fe, #95f5fe, #57f1ff);
    animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
    0% {
        background-position: 0% 50%;
    }

    0% {
        background-position: 50% 100%;
    }

    0% {
        background-position: 0% 50%;
    }
}

.icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

button:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
}

@keyframes slay-1 {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

.icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}
/* ********************************************************** */
.allpost {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.post {
    margin-top: 25px;
    border-radius: 10px;
    background-color: #1e1e1e;
}

.infopost {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.titrepost {
    color: #FFF;
    font-weight: bold;
}

.test {
    gap: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.voirplus {
    text-decoration: none;
    color: #a0a0a0;
}

.postimage {
    width: 200px;
    border-radius: 20px;
    padding: 20px;
}

/* ***************************************************************** */
footer{
    position: fixed;
    bottom: 0;
    width: 350px;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #95f5fe;
    display: flex;
    padding: 20px;
}